{#include base}
  {#title}GeoIP databases download status{/title}

  <div class="w-full lg:w-[85%] max-w-[800px] h-full lg:mx-auto p-2 bg-white flex flex-col">

    <div class="w-full h-[70px] mt-4 p-3 flex items-center justify-center text-lg rounded-lg border {#when status}
      {#is AllFilesUpToDate}
        text-ok border-ok
      {#is AllFilesAtLeastDownloadedOnce}
        text-warn border-warn
      {#else}
        text-error border-error
    {/when}">
      {#when status}
        {#is AllFilesUpToDate}
          All database files are up to date.
        {#is AllFilesAtLeastDownloadedOnce}
          All database files downloaded at least once, but at least one file is not up to date.
        {#else}
          At least one file failed to download.
      {/when}
    </div>


    <h1 class="mt-10 mb-[-4px] text-2xl font-bold text-zinc-500">Providers</h1>

    {#include provider-file-download-status title="GeoLite2" status=geoLite2 /}

    {#include provider-file-download-status title="IPLocate" status=ipLocate /}

  </div>
{/include}